html,body{
    height:100%;
    width:100%
}

body{
    background-color: #eeeeee !important;
}

#logo{
    height:50px;
}

.w-15{
    width: 15%;
}

.w-85{
    width:85%;
}

.btn.no-radius{
    border-radius:0;
}

.h-85{
    height:85%;
}

.h-15{
    height:15%;
}

.rounded-xl {
    border-radius: 0.5rem;
}

.rounded-xxl {
    border-radius: 1rem;
}

.matched{
    cursor:pointer;

}