#cart {
    position: fixed;
    width: 200px;
    height: calc(100vh - 77px);
    right: 0;
    bottom: 0;
}

.btn.no-radius {
    border-radius: 0;
}

.rounded-xl {
    border-radius: 0.5rem;
}

.rounded-xxl {
    border-radius: 1rem;
}

.matched {
    cursor: pointer;

}

#content{
    width:100%;
}

/* xs */
@media (max-width: 576px) {
    .card-body {
        font-size: 5.5vw;
    }
}

/* sm */
@media (min-width: 576px) {
    .card-body {
        font-size: 2.5vw;
    }
}

/* md */
@media (min-width: 768px) {
    .card-body {
        font-size: 1.7vw;
    }

    #content {
        width: calc(100% - 200px);
    }
}

/* lg */
@media (min-width: 992px) {
    .card-body {
        font-size: 2.1vw;
    }
}

/* xl */
@media (min-width: 1200px) {
    .card-body {
        font-size: 1.4vw;
    }
}