<div class="bg-light">
    <div class="container text-center text-dark">
        <div class="row text-center">
            <div id="weather" class="col-2"></div>
            <div class="col"></div>
            <div class="col-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Liens</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="contact.html">Contactez-nous</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="index.html">eDrive</a>
    </div>
</div>
