<div class="container d-flex flex-column flex-lg-row align-items-center justify-content-between align-items-lg-stretch h-100">
    <div id="weather" class="align-self-lg-center"></div>
    <div class="footer-copyright align-self-lg-end order-1 order-lg-0">© 2020 Copyright:
        <a href="index.html">eDrive</a>
    </div>
    <div class="align-self-lg-start">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 d-none d-lg-block">Liens</h5>
        <a href="contact.html">Contactez-nous</a>
    </div>
</div>
