<nav class="navbar navbar-light bg-light border-bottom border-dark d-flex">
    <a href="index.html" class="d-none d-md-block navbar-brand"><img id="logo" src="img/logo.png"></a>
    <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse"
            data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="flex-fill mx-2 mx-md-5">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Rechercher un produit"
                       aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="d-none d-md-block">
        <a href="account.html" class="h-100 text-center h5 d-block">
            <i class="fas fa-user"></i><br/>
            <span>Compte</span>
        </a>
    </div>
</nav>
