<nav class="navbar navbar-light bg-light row" style="height: 100px">
    <a href="index.html" class="col-1 navbar-brand"><img id="logo" src="img/logo-ABI.png"></a>
    <form class="col">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Rechercher un produit"
                   aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
    <div class="col-2 row">
        <a href="cart.html" class="h-100 text-center h5 col"><i
                class="fas fa-shopping-cart"></i><br/><span>Panier</span></a>
        <a href="account.html" class="h-100 text-center h5 col"><i class="fas fa-user"></i><span>Compte</span></a>
    </div>
</nav>
